<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Video Chat Application</title>
</head>
<body>

    <body>
        <div class="container">
          <div class="row py-2">
            <div class="col-sm">
              <video height="300" id="ours"></video>
            </div>
            <div class="col-sm">
              <video height="300" id="remote"></video>
            </div>
          </div>
        </div>
        <button
          id="call"
          style="display: none"
          class="btn btn-outline-primary my-3 mx-3"
        >
          Call
        </button>

        <button id="camera">Mute</button>






<script>

let iceServers = {
        iceServers: [
          { urls: "stun:stun.services.mozilla.com" },
          { urls: "stun:stun.l.google.com:19302" },
        ],
      };

const our_video = document.getElementById("ours");
      const remote_video = document.getElementById("remote");
      const call_btn = document.getElementById("call");
      let stream;
      let rtcpeerconnection;
      const created = "{{created}}";
      const room = "{{room}}";
      let isCreated;
      let camera = document.getElementById("camera");
      camera.onclick = () => {
        if (stream.getTracks()[1].enabled == true) {
          stream.getTracks()[1].enabled = false;
          camera.innerText = "Unmute";
        } else {
          stream.getTracks()[1].enabled = true;
          camera.innerText = "Mute";
        }
      };

      const ws = new WebSocket("ws://127.0.0.1:8000/ws/");
      ws.onopen = () => {
        console.log("opened");
        ws.send(
          JSON.stringify({
            command: "join_room",
            room: room,
          })
        );
        if (created == "created") {
          isCreated = true;
          navigator.mediaDevices
            .getUserMedia({
              video: true,
              audio: true,
            })
            .then((s) => {
              stream = s;
              our_video.srcObject = s;
              our_video.onloadeddata = () => {
                our_video.play();
              };
            });
          console.log(isCreated);
        } else {
          isCreated = false;
          navigator.mediaDevices
            .getUserMedia({
              video: true,
              audio: true,
            })
            .then((s) => {
              stream = s;
              our_video.srcObject = s;
              our_video.onloadeddata = () => {
                our_video.play();
              };
              ws.send(
                JSON.stringify({
                  command: "join",
                  room: room,
                })
              );
            });
          console.log(isCreated);
        }
      };
      ws.onmessage = (e) => {
        const data = JSON.parse(e.data);
        console.log(data);
        if (data["command"] == "join") {
          if (isCreated) {
            call_btn.style.display = "block";
          }
        } else if (data["command"] == "offer") {
          if (isCreated == false) {
            createanswer(data["offer"]);
          }
        } else if (data["command"] == "answer") {
          if (isCreated) {
            rtcpeerconnection.setRemoteDescription(data["answer"]);
            console.log("answer set as remote");
          }
        } else if (data["command"] == "candidate") {
          if (data["iscreated"] != isCreated) {
            const IceCandidate = new RTCIceCandidate(data["candidate"]);
            rtcpeerconnection.addIceCandidate(IceCandidate);
          }
        }
      };
      call_btn.onclick = () => {
        createoffer();
      };
      function createoffer() {
        console.log("offer started");
        rtcpeerconnection = new RTCPeerConnection(iceServers);
        rtcpeerconnection.onicecandidate = OnIceCandidateFunc;
        rtcpeerconnection.ontrack = OnTrackFunc;
        stream.getTracks().forEach((track) => {
          rtcpeerconnection.addTrack(track, stream);
        });
        rtcpeerconnection.createOffer().then((offer) => {
          rtcpeerconnection.setLocalDescription(offer);
          ws.send(
            JSON.stringify({
              command: "offer",
              offer: offer,
              room: room,
            })
          );
        });
      }
      function createanswer(offer) {
        console.log("answer started");
        rtcpeerconnection = new RTCPeerConnection(iceServers);
        rtcpeerconnection.onicecandidate = OnIceCandidateFunc;
        rtcpeerconnection.ontrack = OnTrackFunc;
        stream.getTracks().forEach((track) => {
          rtcpeerconnection.addTrack(track, stream);
        });
        rtcpeerconnection.setRemoteDescription(offer);
        rtcpeerconnection.createAnswer().then((answer) => {
          rtcpeerconnection.setLocalDescription(answer);
          ws.send(
            JSON.stringify({
              command: "answer",
              answer: answer,
              room: room,
            })
          );
        });
      }
      function OnIceCandidateFunc(e) {
        if (e.candidate) {
          ws.send(
            JSON.stringify({
              command: "candidate",
              candidate: e.candidate,
              iscreated: isCreated,
              room: room,
            })
          );
        }
      }
      function OnTrackFunc(e) {
        remote_video.srcObject = e.streams[0];
        remote_video.onloadedmetadata = () => {
          remote_video.play();
        };
      }


</script>
</body>
</html>